# ── PKP: Klucz API
PKP_API_KEY=< klucz api >

# ── PKP: Oracle ADB (wallet), bucket
PKP_ENV=< nazwa środowiska >
PKP_WALLET_PASSWORD=< hasło do walletu >
PKP_DB_USER=< nazwa użytkownika bazy danych >
PKP_DB_PASSWORD=< hasło do bazy danych >
PKP_DB_DSN=< dsn do bazy danych >
PKP_OCI_PROFILE=< profil OCI z configu >
PKP_OCI_BUCKET_LIVE=< bucket OCI z configu dla live >
PKP_OCI_BUCKET=< bucket OCI z configu >

# ── PKP: Dodatkowe ustawienia
TZ=Europe/Warsaw

# ── PKP: Docker DIRs
PKP_WALLET_DIR=/wallet
PKP_DATA_ROOT=/app/ingestion/Data
OCI_CONFIG_FILE=/oci/config.docker
PKP_DATA_HOST_DIR=< ścieżka do katalogu Data na hoście, np. C:\jan.kowalski\stream_pkp\ingestion\Data >
PKP_WALLET_HOST_DIR=< ścieżka do katalogu Wallet na hoście, np. C:\jan.kowalski\stream_pkp\OCI\Wallet_PKPPROD >
OCI_CONFIG_HOST_DIR=< ścieżka do katalogu config na hoście, np. C:\jan.kowalski\stream_pkp\OCI >

# ── PKP: parametry pipeline ──
PKP_STATION_ID=< id stacji z api, np. 60103 >
PKP_TICK_SECONDS=< liczba sekund między kolejnymi tickami, np. 180 >